{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3,
          "proposal": true
        }
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-export-default-from",
    ["prismjs", {
      "languages": ["javascript", "markup"],
      "plugins": ["line-numbers"],
      "theme": "default",
      "css": true
    }]
  ]
}
