header {
  overflow: hidden;
  max-height: 40vh;
}

.header-image {
  min-height: 200px;
  max-height: auto;
  position: relative;
  width: 100%;
}

.header-content {
  width: 100%;
  position: absolute;
  top: 25%;
}

.title {
  width: 100%;
  color: white;
  text-align: center;
}
