.results {
  margin: 10px;
}

.condition .el-input {
  width: 275px;
  margin: 2px 0px;
  cursor: not-allowed;
}

.condition .operator {
  display: inline-block;
  margin: 25px;
  text-align: left;
  width: 100px;
}

.tagSetting {
  width: 100%;
}

.tagSetting p {
  display: inline;
}

.loading {
  width: 100%;
  height: 100%;
}
