.header {
  max-height: 50vh;
  overflow: hidden;
}

.header-image {
  position: relative;
}

.header-content {
  width: 100%;
  position: absolute;
  top: 100px;
}

.title {
  width: 100%;
  color: white;
  text-align: center;
}

.searchbar {
 width: 50%;
 max-width: 450px;
 margin: auto;
}

